html {
    overflow-y: scroll;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, "Helvetica-Neue", serif, sans-serif;
    background: #5AA9EF;
}

/********************************************
HEADER CSS
*********************************************/
#header {
    position: relative;
    width: 100%;
    height: 115px;
    background-color: #ffb854;
    z-index: 10;
}

#logo {
    position: absolute;
    top: 11%;
    height: 75%;
    left: 8%;
    width: auto;
    z-index: 11;
}

#navbar {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 40%;
    bottom: 0;
    display: inline-block;
    text-align: center;
    background: #ffdb54;
}

.headerBig {
    height: 100% !important;;
}

.logoBig {
    top: 25% !important;;
    height: 25% !important;;
}

.navbarBig {
    height: 5% !important;;
    bottom: 40% !important;;
}

.headerResize {
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

.logoResize {
    transition: height 1s, top 1s .25s;
    -o-transition: height 1s, top 1s .25s;
    -moz-transition: height 1s, top 1s .25s;
    -webkit-transition: height 1s, top 1s .25s;
}

.navbarResize {
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

#navbar:first-child {
    margin-left: 100px;
}

#navbar a {
    text-decoration: none;
}

#navbar a:visited, #navbar a {
    color: black;
}

.navbuttons {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    position: relative;
    background: #ffdb54;
    height: 100%;
    width: 10%;
}

.navbuttons:last-of-type {
    margin: 0 !important;
}

.navbuttons a {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.navbuttons p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.navbuttons:hover {
    background-color: #6b5c20;
}

#dropdown {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dropdown li {
    background: #ffdb54;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    overflow: hidden;
}

#puppetInfo:hover #dropdown {
    display: block;
}

#navbar a {
    text-decoration: none;
}

#navbar a:visited, #navbar a {
    color: black;
}

#dropdown li:hover {
    background: #6b5c20;
}

/********************************************
FOOTER CSS
*********************************************/

#footer {
    bottom: 0;
    z-index: 0;
    position: relative;
    font-family: Helvetica, "Helvetica-Neue", serif, sans-serif, "Comic Sans MS";
    padding: 20px 0 0 0;
}

#footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer a {
    text-decoration: none;
    z-index: 1;

}

#footer ul {
    text-decoration: none;
    list-style-type: none;
}

#footer li {
    float: left;
    margin-right: 20px;
}

#footer li:first-child {
    margin-left: 20%;
}

#footer li:last-child {
    float: right;
}

#footer li a {
    color: #888888;
}

#footer li a:hover {
    color: #484848;
}

#footer .copyright, #footer li a {
    color: #888888;
}

.footer-media, .footer-sitemap {
    width: 100%;
    overflow: hidden;
}

.footer-sitemap {
    background-color: rgb(230, 230, 230);
    padding-bottom: 10px;
}

.footer-media {
    background-color: rgb(200, 200, 200);
}

#follow {
    color: #484848;
    padding: 10px;
    margin-left: 10%;
}

.media-link {
    margin-left: 40px;
    z-index: 1;

}

.media-link img {
    vertical-align: middle;
    height: 32px;
    width: 32px;
}

/********************************************
WRAPPER
*********************************************/

#wrapper {
    position: relative;
    width: 60%;
    min-height: 65%;
    margin: auto;
    padding-top: 20px;
}

/********************************************
INDEX CSS
*********************************************/

.mainPageSections {
    border: 1px solid black;
    padding: 10px;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
}

.sectionHeader {
    margin: 0;
}

.sectionParagraph {
    width: 50%;
}

#topSection:after {
    background: #6B4C20 url("./images/indexTopSectionBackground.png") repeat 0 50%;
    background-size: 50%;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
}

#middleSection:after {
    background: #6B4C20 url("./images/R2D2-feature-1.png") repeat 0 10%;
    background-size: 100%;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
}

#bottomSection:after {
    background: white url("./images/Muppets-Kermit.jpg") no-repeat 100% 100%;
    background-size: 50%;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
}

/********************************************
BROWSE CSS
*********************************************/

#searchBar {
    position: fixed;
    left: 25px;
    min-width: 100px;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
    background: #FFB854;
}

#searchBar ul {
    list-style: none;
    padding: 0;
}

#puppetInfo:hover #dropdown {
    display: block;
}

.puppetDiv {
    background: #4089CB;
    position: relative;
    border: 1px solid black;
    min-width: 400px;
    transition: all .25s;
    -o-transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
}

.puppetDiv:hover {
    background: rgba(107, 49, 32, 0.1);
}

.puppetDiv:hover .puppetButton {
    display: inline-block;
}

.nameAndType, .puppetPrice, .puppetSummary, .puppetDescription, .puppetButton {
    position: absolute;
}

.nameAndType, .puppetPrice, .puppetSummary {
    display: inline-block;
}

.puppetImage {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    display: inline;
    transition: all .25s;
    -o-transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
}

.nameAndType {
    top: 0;
    margin: 10px;
}

.puppetName, .puppetType {
    margin: 0;
    position: relative;
}

.puppetType:first-letter {
    text-transform: capitalize;
}

.puppetPrice {
    right: 0;
    margin: 10px;
}

.puppetSummary {
    bottom: 0;
    margin: 10px;
    padding-bottom: 10px;
    max-width: 60%;
    max-height: 30%;
    overflow: auto;
}

.puppetButton {
    right: 0;
    bottom: 0;
    margin: 10px;
    display: none;
}

.puppetDescription {
    display: none;
}

.puppetDivLoaded {

}

.puppetImageLoaded {
    height: 200px;
    width: 200px;
}

.puppetSummaryLoaded {
    display: none !important;
}

.puppetDescriptionLoaded {
    display: inline-block !important;
    bottom: 0;
    margin: 10px;
    padding-bottom: 10px;
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
}

.puppetButtonLoaded {
    display: none !important;
}

.hidden {
    display: none !important;
}

/********************************************
PUPPETS CSS
*********************************************/
.box {
    background: #4089CB;
    border: 1px solid #183045;
    text-align: center;
    position: relative;
    height: 50px;
    width: 80%;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px;
    z-index: 1;
    font-size: 19px;
    transition: all .25s;
    -o-transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
}

.box:hover {
    background: rgba(107, 49, 32, 0.1);
}

.bigBox {
    z-index: 10;
    color: #183045;
    background: #5AA9EF;
    height: 300px;
}

.btn {
    margin-top: 40px;
    width: 170px;
    height: 50px;
    font-weight: bold;
}

#boxWrapper div div {
    margin-top: 40px;
    padding: 0 5px 0 5px;
    color: #183045;
    font-size: 17px;
    line-height: 1.5em;
}

#info {
    color: #183045;
    font-weight: bold;
}

#boxWrapper {
    text-align: center;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 420px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/**************************************
***      About/FAQ/Support CSS      ***
**************************************/

.about-card, .faq-card, .support-card {
    background-color: rgba(64, 137, 203, 0.5);
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
}

.about-card-title, .faq-card-title, .support-card-title {
    font-size: 1em;
    margin: 0;
}

.about-card-para, .faq-card-para, .support-card-para {
    width: 50%;
}